body {
  background-color: #efefef;
}
.main {
  background-color: white;
  margin: 50px 80px;
}
.row-hr-a {
  color: #999;
  font-size: 13px;
}
.media-heading-h5 {
  padding-top: 17px;
}
.comment {
  margin: 10px 0;
}
.comment-button{
  float: right;
  margin-bottom: 10px;
}