body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 50px 80px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.publish-tag-tab {
    display: none;
    margin-top: 10px;
}
