<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vikinc.community.mapper.CommentMapper">

    <insert id="insert" parameterType="org.vikinc.community.dto.Comment">
        INSERT INTO comment (parent_id,type,commentator,content,gmt_create,gmt_modified,like_count)
         value (#{parentId},#{type},#{commentator},#{content},#{gmtCreate},#{gmtModified},#{likeCount})
    </insert>

</mapper>
