<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vikinc.community.mapper.CommentMapper">

    <resultMap id="comment" type="org.vikinc.community.dto.Comment">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="type" column="type"/>
        <result property="commentator" column="commentator"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="likeCount" column="like_count"/>
        <result property="targetId" column="target_id"/>
    </resultMap>

    <insert id="insert" parameterType="org.vikinc.community.dto.Comment">
        INSERT INTO comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="type != null">type,</if>
            <if test="commentator != null">commentator,</if>
            <if test="content != null">content,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="targetId != null">target_id,</if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="type != null">#{type},</if>
            <if test="commentator != null">#{commentator},</if>
            <if test="content != null">#{content},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="targetId != null">#{targetId},</if>
        </trim>
    </insert>

    <select id="getCommentByID" resultMap="comment">
        SELECT * FROM comment WHERE parent_id = #{parentId} AND commentator = #{commentator}
    </select>

    <select id="getCommentListByID" resultMap="comment">
        SELECT * FROM comment WHERE parent_id = #{parentId}
    </select>

    <select id="getCommentListByIDDESC" resultMap="comment">
        SELECT * FROM comment WHERE parent_id = #{parentId} AND type = 1
        ORDER BY gmt_create DESC
    </select>

    <select id="getSecCommentListByTargetId" resultMap="comment">
        SELECT * FROM comment WHERE type = 2 AND target_id = #{id}
        ORDER BY gmt_create DESC
    </select>

    <select id="getCommentCount" resultType="int">
        SELECT count(*) FROM comment WHERE target_id = #{id}
    </select>
</mapper>
