<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vikinc.community.mapper.QuestionMapper">
    
    <resultMap id="question" type="org.vikinc.community.dto.Question">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="creator" column="creator"/>
        <result property="commentCount" column="comment_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="tag" column="tag"/>
    </resultMap>

    <insert id="CreateQuestion" parameterType="org.vikinc.community.dto.Question">
        INSERT INTO question (title,description,gmt_create,gmt_modified,creator,comment_count,like_count,view_count,tag)
        value (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{likeCount},#{viewCount},#{tag})
    </insert>

    <select id="getALLList" resultMap="question">
        SELECT * FROM question LIMIT #{offset},#{size}
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*) FROM question
    </select>
</mapper>
