<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vikinc.community.mapper.QuestionMapper">
    
    <resultMap id="question" type="org.vikinc.community.dto.Question">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="creator" column="creator"/>
        <result property="commentCount" column="comment_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="tag" column="tag"/>
    </resultMap>

    <insert id="CreateQuestion" parameterType="org.vikinc.community.dto.Question">
        INSERT INTO question (title,description,gmt_create,gmt_modified,creator,comment_count,like_count,view_count,tag)
        value (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{likeCount},#{viewCount},#{tag})
    </insert>

    <select id="getALLList" resultMap="question">
        SELECT * FROM question ORDER BY gmt_create DESC
            LIMIT #{offset},#{size}
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*) FROM question
    </select>

    <select id="getUserQuestionLists" resultMap="question">
        SELECT * FROM question WHERE creator = #{accountId} ORDER BY gmt_create DESC LIMIT #{offset},#{size}
    </select>

    <select id="getQuestionCountByUser" resultType="Integer">
        SELECT count(*) FROM question WHERE creator = #{accountId}
    </select>

    <select id="getQuestionByID" parameterType="Integer" resultMap="question">
        SELECT * FROM question WHERE id = #{id}
    </select>

    <update id="update" parameterType="org.vikinc.community.dto.Question">
        UPDATE question set title = #{title},
                            description = #{description},
                            gmt_modified = #{gmtModified},
                            tag = #{tag},
                            view_count = #{viewCount} WHERE id = #{id}
    </update>

    <update id="incView" parameterType="org.vikinc.community.dto.Question">
        UPDATE question set view_count = view_count + #{viewCount}
                        WHERE id = #{id}
    </update>

    <update id="incCommentCount" parameterType="org.vikinc.community.dto.Question">
        UPDATE question set comment_count = comment_count + #{commentCount}
        WHERE id = #{id}
    </update>

    <select id="getTagRelated" parameterType="org.vikinc.community.dto.Question" resultType="org.vikinc.community.dto.Question">
        SELECT * FROM question WHERE id != #{id} AND tag REGEXP #{tag}
    </select>

    <select id="countBySerch" parameterType="org.vikinc.community.dto.DTOQuestionQuery" resultType="Integer">
        SELECT count(*) FROM question
        <where>
            <if test="serch != null and serch != ''">
                title REGEXP #{serch}
            </if>
        </where>
    </select>

    <select id="getALLListBySerch" parameterType="org.vikinc.community.dto.DTOQuestionQuery" resultType="org.vikinc.community.dto.Question">
        SELECT * FROM question
        <where>
            <if test="serch != null and serch != ''">
                title REGEXP #{serch}
            </if>
        </where>
        ORDER BY gmt_create DESC
        LIMIT #{page},#{size}
    </select>

    <select id="countProBySerch" parameterType="org.vikinc.community.dto.DTOQuestionQuery" resultType="Integer">
        SELECT count(*) FROM question
        <where>
            <if test="serch != null and serch != ''">
                AND title REGEXP #{serch}
            </if>
            <if test="accountId != null">
                AND creator = #{accountId}
            </if>
        </where>
    </select>

    <select id="getUserQuestionListsBySerch" parameterType="org.vikinc.community.dto.DTOQuestionQuery" resultType="org.vikinc.community.dto.Question">
        SELECT * FROM question
        <where>
            <if test="serch != null and serch != ''">
                title REGEXP #{serch}
            </if>
            <if test="accountId != null">
                AND creator = #{accountId}
            </if>
        </where>
        ORDER BY gmt_create DESC
        LIMIT #{page},#{size}
    </select>
</mapper>
